body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
    position: relative;
}

#audio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px; /* Set uniform gap of 4 pixels for both horizontal and vertical */
    justify-items: center;
    align-items: center;
    flex: 1;
    width: 100%;
    max-width: 640px;
    height: calc(100vh - 60px); /* Adjusting for control console height */
    max-height: 960px;
}

.audio-player {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px;
    background-color: #fff;
    text-align: center;
    width: 100px; /* Fixed width */
    height: 100px; /* Fixed height */
    position: relative;
    transition: background-color 0.3s, opacity 0.3s;
}

.audio-player img {
    width: 80px; /* Adjust size for image within player */
    height: 80px; /* Adjust size for image within player */
    object-fit: cover;
    border-radius: 8px;
}

.audio-player.disabled {
    background-color: #eee;
    opacity: 0.6;
}

.controls {
    margin-top: 4px;
}

.controls button, .controls input[type="range"] {
    margin-top: 2px;
    display: block;
    width: 100%;
}

.volume-control {
    display: flex;
    align-items: center;
}

.volume-slider {
    flex: 1;
    appearance: none;
    background: #ddd;
    height: 8px;
    border-radius: 5px;
    outline: none;
    margin: 0 8px;
    background-image: linear-gradient(to right, #ddd 0%, #ddd 20%, transparent 20%, transparent 100%);
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: #ddd;
    border: 1px solid #bbb;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}

.volume-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #ddd;
    border: 1px solid #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.volume-slider::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #ddd;
    border: 1px solid #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.volume-label {
    font-size: 0.8em;
    color: #555;
    margin-top: 4px;
}

#global-control-console {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

#global-control-play-stop, #global-control-volume {
    font-size: 1.5em;
    border: none;
    background: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border-radius: 8px;
    margin: 0 10px;
}

#global-control-volume {
    width: 200px; /* Increased width */
    margin: 0 20px;
}
